h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

a {
    color: #b18b49;
}

h1.articleHeader {
    color: #767576;
}

div.toc ul {
    list-style-type: none;
    padding: 0;
}

div.toc ul li {
    font-size: 20px;
    padding: .2em;
}

.coverTitle:first-child {
    padding-top: 15em;
}
.coverTitle h1,.coverTitle h2,.coverTitle h3,.coverTitle h4  {
    text-align: center;
    padding: 0
}

.coverTitle h1 {
    font-size: 30px
}
